*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;

}
body{
	min-width: 988px;
}

header{
	background-color: black;
	width: 100%;
	color: grey;
	padding: 10px;
	text-align: center;
	box-sizing:border-box;
	min-width: 700px;
}
#wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
.paginas{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.paginas a{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 13px;
}
#inputs h3{
	background-color: grey;
	color: white;
	padding:5px 0;
	text-align: center;
	margin-bottom: 10px;
}
#gestor-content h3{
	background-color: grey;
	color: white;
	padding:5px 0;
	text-align: center;
	margin-bottom: 10px;
}
#productos-huerta h3{
	background-color: grey;
	color: white;
	padding:5px 0;
	text-align: center;
	margin-bottom: 10px;
}
#menu-socios h3{
	background-color: grey;
	color: white;
	padding:5px 0;
	text-align: center;
	margin-bottom: 10px;
}
#introducirPlatos img{
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
#introducirPlatos span{
	vertical-align: middle;
	font-size: 13px;
}
#nombrePlato{
	width: 100%;
	margin-bottom: 10px;
	display: block;
}
#precioPlato{
	width:50px;
	margin-bottom: 10px;
}


#menu-huerta h3{
	background-color: grey;
	color: white;
	padding:5px 0;
	text-align: center;
	margin-bottom: 10px;
}
#menu-huerta h4{
	margin-bottom: 10px;
	padding: 5px;
	background-color: black;
	color: white;
	width: 100%;
	box-sizing:border-box;
	}
#introducirPlatos{
	color: #447E04;
	width: 110px;
	padding: 3px;
	box-sizing:border-box;
	text-align: center;
	background-color: #E4F7CF;
	border: 1px solid #447E04;
	margin-bottom: 25px;
}
#introducirPlatos:hover{
	cursor: pointer;
}
#aprobacion{
	width: 90%;
	float: right;
	margin-right: 5%;
}
#aprobacion img{
	width: 75px;
	height: 75px;
	float: right;
	margin-right: 50px;
}
#aprobacion img:hover{
	cursor: pointer;
}

#menu-nav{
	width: 20%;
	height: 500px;
	background-color: #424242;
	box-sizing:border-box;
	padding-top: 20px;
	min-width: 200px;
	position: relative;
}
#menu-nav h3{
	color: white;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
}
#bot-salir{
	width: 100%;
	position: absolute;
	bottom: 10px;
	left:25px;
}
#bot-salir input{
	width: 80%;
	height: 50px;
	background-color: crimson;
	color: white;
	border: none;
}
#bot-salir input:hover{
	cursor: pointer;
}
nav{
	color: white;
	bbbackground-color: red;
	box-sizing:border-box;
}
nav ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
nav ul li{
	font-size: .9em;
	padding-top:10px;
	padding-bottom:5px;
	border-bottom: 1px solid grey;
}
nav ul li:hover{
	cursor: pointer;
	background-color: #0404B4;
}
nav ul li span{
	padding-left: 30px;
}
#contenido{
	width: 80%;
	padding: 2px;
}
#veo{
	width: 99%;
	display: none;
	margin: 0 auto;
	border: 2px solid black;
	box-sizing:border-box;
}
input[type='text']{
	width: 100%;
	padding: 5px;
	box-sizing:border-box;
}
input[type='date']{
	width: 70%;
	padding: 4px;
	box-sizing:border-box;
}
input[type='email']{
	width: 100%;
	padding: 4px;
	box-sizing:border-box;
}
input[type='password']{
	width: 100%;
	padding: 4px;
	box-sizing:border-box;
}
#tipodocumento{
	width: 100%;
	padding: 5px;
	box-sizing:border-box;
}
.campos-inputs{
	width: 30%;
	padding: 0 10px;
}
.campos-inputs label{
	font-size: 12px;
}
#inputs{
	width: 100%;
	padding: 20px;
	box-sizing:border-box;
	overflow: auto;
}
#formulario fieldset{
	width: 90%;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	box-sizing:border-box;
	background-color:#F2F2F2;
}
#formulario fieldset legend{
	font-size: 15px;
	font-weight: 900;
}
.pruebas{
	width: 100%; 
	display: flex;
	flex-direction: row;
	justify-content: felx-start;
	align-items: stretch;
	flex-wrap: wrap;
}
#botones{
	width: 100%;
}
#tratamiento{
	width: 30%;
}
#trat{
	display: block;
	font-size: 12px
}
.trato{
	width: 20%;
	padding: 0 10px;
}
#buscador{
	margin-left: 5%;
	width: 30%;
}
.lista{
	margin-left: 16.5%;
	list-style:none;
	width: 100%;
	border-radius:25% 25% 0 0;
}
.lista li{
	width: 100%;
	padding-left: 5px;
	box-sizing:border-box;
	font-size: 14px;
	border-bottom: 1px solid black;
	background-color:black;
	color: white;
}

.im{
	width: 50px;
	height: 50px;
}
.im img{
	width: 100%;
}
#gestor-content{
	width: 99%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 20px;
	padding-bottom: 65px;
	box-sizing:border-box;
	position: relative;
	ddddisplay: none;
}
#menu-socios{
	width: 99%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 20px;
	padding-bottom: 65px;
	box-sizing:border-box;
	position: relative;
	display: none;
}
#productos-huerta{
	width: 99%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 20px;
	padding-bottom: 65px;
	box-sizing:border-box;
	position: relative;
	display: none;
}
#menu-huerta{
	width: 99%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 20px;
	padding-bottom: 65px;
	box-sizing:border-box;
	position: relative;
}
.com{
	width: 45%;
	padding: 0 5px;
	margin-bottom: 25px;
	box-sizing:border-box;
}
#posi{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}
#bus{
	position: relative;
	width: 30%;
}
#bus .lista{
	position: absolute;
	top: 0;
}
#opciones{
	margin: 0 auto;
	position: relative;
	width: 90%;
}
#modificar{
	position: absolute;
	right: 50px;
	top: 0;
}
#eliminar{
	position: absolute;
	top: 0;
	right: 150px;
}
#down{
	width: 80%;
	position: absolute;
	bottom: 10px;
	right: 100px;
	height: 50px;
}
#accept{
	position: absolute;
	right: 0;
	bottom: 0;
}
.om:hover{
	cursor: pointer;
}
#formu-socio{
	margin-top: 15px;
}
#formu-socio fieldset{
	width: 90%;
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	box-sizing:border-box;
	background-color:#F2F2F2;
}
#formu-socio fieldset legend{
	font-size: 15px;
	font-weight: 900;
}
#peticiones{
	width: 100%;
	background-color: grey;
}
#numeroPeticiones{
	display: inline-block;
	width: 25px;
	background-color: crimson;
	color: white;
	border-radius: 50%;
}
#caja-insert{
	width: 100%;
}
#boton-insert{
	width: 125px;
	background-color: crimson;
	font-size: 13px;
	text-align: center;
	padding: 5px;
	border: 1px solid grey;
	color: white;
	margin-bottom: 10px;
}
#insertar-categoria{
	width: 30%;
	display: inline-block;
}
#boton-insert:hover{
	cursor: pointer;
}
#nombreCategoria{
	margin-bottom: 5px;
}
#ver-categorias{
	font-size: 13px;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.fotografias{
	display: none;
}
#foto:hover{
	cursor: pointer;
}
#nombre-archivo{
	wwwwidth: 200px;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 35px;
	font-size: 12px;

}
#foto{
	width: 50px;
	display: inline-block;
	margin-bottom: 30px;
}
#foto img{
	width: 100%;
}
#catePro{
	margin-bottom: 10px;
}
#precio-producto{
	width: 7%;
	display: block;
	margin-bottom: 10px;
}
#nombreProducto{
	width: 30%;
	display: block;
	margin-bottom: 5px;
}
#descripcion{
	width: 30%;
	display: block;
	margin-bottom: 5px;
}
#insert-producto label{
	font-size: 13px;
	margin-right: 3px;
}
#insertar-producto{
	width: 50px;
	display: inline-block;
	margin-right: 25px;
}
#insertar-producto img{
	width: 100%;
}
#insertar-producto:hover{
	cursor: pointer;
}




