*{
	margin: 0;
	padding: 0;
}
#cos{
	width: 100%;
	mmmargin-top: 127px;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
}
#contingut{
	width: 80%;
	margin:0 auto;
	padding-top: 10px;
}
#info-contacto{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	border-bottom: 1px solid grey;
}
#info-contacto h1{
	font-size: 50px;
	font-weight: lighter;
}
#info-contacto h3{
	width: 65%;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin: 50px auto 50px auto;
}

#info-contacto h3 a{
	text-decoration: none;
	color:#f79468; 
}
#ubicacion{
	padding-top: 75px;
	width: 30%;
	float: left;
}
#plano-huerta{
	width: 80%;
	margin: 0 auto;
}
#plano-huerta img{
	width: 100%;
	min-width: 350px;
}
#direccion{
	width: 100%;
	text-align: center;
	padding-top: 70px;
}
#direccion p{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	font-style: italic;
}
#formulario-contacto{
	width: 65%;
	clear: both;
	display: inline-block;
	padding: 5px;
	box-sizing:border-box;
}

#formulario-datos{
	padding-top: 50px;
	text-align: center;
	margin-top: 25px;
}
#formulario-datos label{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	line-height: 50px;
}
.inputs{
	width: 50%;
	height: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	padding: 5px;
	box-sizing:border-box;
	color: #147E83;
}
textarea{
	width: 50%;
	max-width: 494px;
	max-height: 200px;
	min-height: 100px;
	min-width: 250px;
	height: 200px;
	font-size: 17px;
	padding: 5px;
	color: #147E83;
	box-sizing:border-box;
}
input[type='button']{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: white;
	font-style: italic;
	font-weight: lighter;
	background-color: black;
	border: none;
}
input[type='button']:hover{
	background-color: #f79468;
	cursor: pointer;n
}

